body,
html {
  background-color: #000505;
  color: whitesmoke;
  text-align: center;
}

header {
  background-color: #000f0f;
}

#b {
  background-color: #001a1a;
}

#c {
  background-color: #002424;
}

#d {
  background-color: #002e2e;
}

#e {
  background-color: #1a4747;
}

#f {
  background-color: #4d7070;
}

#g {
  background-color: #809999;
  color: #002424;
} 

#h {
  background-color: #b3c2c2;
  color: #002424;
}

#i {
  background-color: #e6ebeb;
  color: #002424;
}

/* tablet responsive */
@media (min-width: 768px) and (max-width: 1200px) {

  body,
  html {
    background-color: #4e0404;
    color: whitesmoke;
  }

  header {
    background-color: #8d021f;
  }

  #b {
    background-color: #5e1914;
  }

  #c {
    background-color: #b80f0a;
  }

  #d {
    background-color: #bf0a30;
  }

  #e {
    background-color: #df2800;
  }

  #f {
    background-color: #ca3433;
  }

  #g {
    background-color: #d21f3c;
    color: whitesmoke;
  } 

  #h {
    background-color: #b43757;
    color: whitesmoke;
  }

  #i {
    background-color: #ea3c53;
    color: whitesmoke;
  }

}

/* tablet responsive */
@media (min-width: 1200px) {

  body,
  html {
    color: whitesmoke;
  }

  header {
    background-color: #008080;
  }

  #b {
    background-color: #20b2aa;
  }

  #c {
    background-color: #00cc99;
  }

  #d {
    background-color: #2099a7;
  }

  #e {
    background-color: #0cb9a5;
  }

  #f {
    background-color: #30ba8f;
  }

  #g {
    background-color: #43b3ae;
    color: whitesmoke;
  } 

  #h {
    background-color: #319177;
    color: whitesmoke;
  }

  #i {
    background-color: #01866c;
    color: whitesmoke;
  }

}