body,
html {
  box-sizing: border-box;
  /* height: 100%; */
  width: 480px;

  margin-left: auto;
  margin-right: auto;

  background-color: #000505;
  color: whitesmoke;
  text-align: center;
}

header {
  background-color: #000f0f;
}

#b {
  background-color: #001a1a;
}

#c {
  background-color: #002424;
}

#d {
  background-color: #002e2e;
}

#e {
  background-color: #1a4747;
}

#f {
  background-color: #4d7070;
}

#g {
  background-color: #809999;
  color: #002424;
} 

#h {
  background-color: #b3c2c2;
  color: #002424;
}

#i {
  background-color: #e6ebeb;
  color: #002424;
}
