/* widths and some heights */
#a,
#b,
#c,
#d,
#i {
  width: 480px;
  display: table;
}
#e,
#f,
#g,
#h {
  width: 240px;
  height: 250px;
  float: left;
  display: table;
}

/* heights */
#a {
  height: 75px;
}
#b {
  height: 150px;
}
#c,
#d {
  height: 125px;
}
#i {
  height: 80px;
}

/* clears */
#g,
#i {
  clear: both;
}

/* text centering */
h1,
p {
  display: table-cell;
  vertical-align: middle;
}

/* desktop responsive */
@media (min-width: 768px) {
 
  body,
  html {
    width: 768px;
  }  

  #a {
    width: 100%;
    height: 80px;
  }

  #b {
    width: 160px;
    height: 480px;
    float: left;
  }

  #c,
  #d {
    width: 304px;
    height: 160px;
    float: left;
  }

  #e,
  #f,
  #g,
  #h {
    width: 152px;
    height: 200px;
  }

  #i {
    width: 608px;
    height: 120px;
  }

  /* removing clears */
  #g,
  #i {
    clear: none;
  }
}