* {
  transition: all .3s linear;
}

body, 
html {
  height: 100%;
}

header {
  height: 7.5%;
  display: grid;
  align-items: center;
}

main {
  height: 85%;
  display: grid;
  grid-template: 2fr 1.75fr 1.75fr 4fr 4fr / 1fr 1fr;
}
section {
  display: grid;
  align-items: center;
}

#b {
  grid-area: 1 / 1 / 2 / span 2;
}
#c {
  grid-area: 2 / 1 / 3 / span 2;
}
#d {
  grid-area: 3 / 1 / 4 / span 2;
}

footer {
  height: 7.5%;
  display: grid;
  align-items: center;
}

/* tablet responsive */
@media (min-width: 768px) and (max-width: 1200px) {
  

  body,
  html {
    height: 100%;
  }  

  header {
    height: 10%;
    display: grid;
    align-items: center;
  }
  
  main {
    height: 80%;
    display: grid;
    grid-template: 3fr 3fr 2fr 3fr 3fr / 1fr 1fr 1fr 1fr;
  }
  section {
    display: grid;
    align-items: center;
  }
  
  #b {
    grid-area: 1 / 1 / span 2 / span 2;
  }
  #c {
    grid-area: 1 / 3 / 3 / span 2;
  }
  #d {
    grid-area: 3 / 1 / 4 / span 4;
  }
  #e,
  #f,
  #g,
  #h {
    grid-row-end: span 4;
  }
  
  footer {
    height: 10%;
    display: grid;
    align-items: center;
  }
  
}

/* desktop responsive */
@media (min-width: 1200px) {
  
  body, 
  html {
    height: 100%;
  }

  header {
    height: 10%;
    display: grid;
    align-items: center;
  }

  main {
    height: 80%;
    display: grid;
    grid-template: 2fr 1fr 2fr / repeat(5, 1fr);
  }
  section {
    display: grid;
    align-items: center;
  }

  #b {
    grid-area: 1 / 1 / span 5 / 2;
  }
  #c {
    grid-area: 1 / 2 / span 1 / span 2;
  }
  #d {
    grid-area: 1 / 4 / span 1 / span 2;
  }
  #e {
    grid-area: 2 / 2 / span 1 / span 4;
  }
  #g {
    grid-area: 3 / 3 / span 1 / span 2;
  }

  footer {
    height: 10%;
    display: grid;
    align-items: center;
  }
}